:root {
  --duration: 400ms;
}

/*ios <= 9 bug fixed*/
html,
body {
  overflow-x: hidden;
}

.v-route {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  overflow: hidden;
}

.v-route__view {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.v-route--3d {
  transform: translate3d(0, 0, 0);
}

/* 渐隐切换效果 */
.v-route-fade-out-enter-active,
.v-route-fade-out-leave-active,
.v-route-fade-in-enter-active,
.v-route-fade-in-leave-active {
  position: absolute;
  will-change: transform;
  transition: transform var(--duration) cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity var(--duration);
  backface-visibility: hidden;
  perspective: 1000;
}

.v-route-fade-out-enter-to,
.v-route-fade-in-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.v-route-fade-out-enter,
.v-route-fade-in-leave-to {
  transform: translate3d(-80px, 0, 0);
  opacity: 0.3;
}

.v-route-fade-out-leave-to,
.v-route-fade-in-enter {
  opacity: 0.3;
  transform: translate3d(80px, 0, 0);
}

.v-route-fade-out-leave,
.v-route-fade-in-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* IOS 切换效果 */
.v-route__overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  display: none;
  z-index: 2;
  transition: opacity var(--duration);
}

.v-route-ios-out-enter-active,
.v-route-ios-out-leave-active,
.v-route-ios-in-enter-active,
.v-route-ios-in-leave-active {
  position: absolute;
  top: 0;
  will-change: transform;
  transition: transform var(--duration);
  backface-visibility: hidden;
  perspective: 1000;
}

.v-route-ios-out-leave,
.v-route-ios-out-leave-to {
  z-index: 4;
}

.v-route-ios-out-leave,
.v-route-ios-out-enter-to,
.v-route-ios-in-leave,
.v-route-ios-in-enter-to {
  transform: translate3d(0, 0, 0);
}

.v-route-ios-out-leave-to,
.v-route-ios-in-enter {
  transform: translate3d(100%, 0, 0);
}

.v-route-ios-out-enter,
.v-route-ios-in-leave-to {
  transform: translate3d(-30%, 0, 0);
}

.v-route-ios-out-enter,
.v-route-ios-in-enter-to {
  & + .v-route__overlay {
    opacity: 1;
  }
}

.v-route-ios-out-enter-to {
  & + .v-route__overlay {
    opacity: 0;
    z-index: 3;
  }
}

.v-route-ios-out-enter-active,
.v-route-ios-in-enter-active {
  z-index: 3;
  & + .v-route__overlay {
    display: block;
  }
}

.v-route--notransition-leave {
  display: none;
}

/* Android 切换效果 */
.v-route-android-out-leave-active,
.v-route-android-in-enter-active {
  position: absolute;
  top: 0;
  z-index: 2;
  will-change: transform;
  transition: transform var(--duration), opacity var(--duration);
  backface-visibility: hidden;
  perspective: 1000;
}
.v-route-android-out-enter-active,
.v-route-android-in-leave-active {
  transition-duration: var(--duration);
}
.v-route-android-in-leave-to {
  opacity: 0;
}
.v-route-android-out-leave-to,
.v-route-android-in-enter {
  opacity: 0;
  transform: translate3d(0, 46px, 0);
}
.v-route-android-out-leave,
.v-route-android-in-enter-to {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}