:root {
  /* 主要 */
  --primary: #2196f3;
  /* 成功 */
  --success: #4caf50;
  /* 错误 */
  --error: #ff5252;
  /* 警告 */
  --warning: #ffa93a;
  /* 主要 */
  --textPrimary: #000000;
  /* 常规 */
  --textRegular: rgba(0,0,0,0.5);
  /* 次要 */
  --textSecondary: #d9d9d9;
  /* 边框 */
  --border: #d9d9d9;
  /* 浅灰 */
  --lightGray: #e5e5e5;
  /* 背景 */
  --background: #f0eff5;
}